body {
    background-color: skyblue;
}
h1 {
    position: relative;  
}

nav {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    
}

span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20pt;    
}

p {
    padding: 20px 10px;
}
div :hover {
    background-color: white;
}

li {
    color: crimson;
    list-style: none;
    float: right;
    margin: 10px;
}
.cloud {
    -webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
}

@keyframes animateCloud {
    0% {
        margin-left: -300px;
    }
    100% {
        margin-left: 100%;
    }
}