body {
    background-image: url(../image/clouds.png);
}
h1 {
    position: relative;  
}

nav {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    
}

span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20pt;    
}

p {
    padding: 20px 10px;
}
div :hover {
    background-color: white;
}

li {
    color: crimson;
    list-style: none;
    float: right;
    margin: 10px;
}
